.card-border{
    border: 3px solid rgb(243, 248, 223);
}

.card:hover img {
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card img {
    transform: scale(1.0,1.0);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -20%;
    left: 0;
    right: 0;
    /* margin-right: auto;
    margin-left: auto; */
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: -4.2%;
    opacity: 1;
}

.animate {
    transition: all 0.15s ease-in-out;
}

.view-more-button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
    margin: 0;
    display: inline-flex;
    align-items: center;
  }
  
  .view-more-button:hover,
  .view-more-button:focus {
    color: #0056b3;
  }
  
  .view-more-button i {
    margin-left: 5px;
    transition: transform 0.3s ease;
  }
  
  .view-more-button.expanded i {
    transform: rotate(180deg);
  }
  

  @keyframes fa-blink {
    0% {opacity: 1;}
    100% {opacity: 0.3; color: rgb(129, 129, 129);}
  }

  .is-online{
    animation: fa-blink 900ms linear infinite;
    color: rgb(84 255 62);
    font-size: 10px;
  }