<div class="card mb-4 card-border" style="max-height: auto">
  <div class="card-img-wrapper">
    <img
      class="card-img-top"
      src="{{ memberInfo().photoUrl || './assets/user.png' }}"
      alt="Card image"
    />
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item me-6">
        <button
          class="btn btn-primary"
          routerLink="/members/{{ memberInfo().username }}"
        >
          <i class="fa fa-user"></i>
        </button>
      </li>
      <li class="list-inline-item me-6">
        <button class="btn btn-primary" (click)="toggleLike()">
          <i class="fa fa-heart"></i>
        </button>
      </li>
      <li class="list-inline-item me-6">
        <button class="btn btn-primary">
          <i
            class="fa fa-envelope"
            [queryParams]="{ tab: 'Messages' }"
            routerLink="/members/{{ this.memberInfo().username }}"
          ></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h4 class="card-title text-center mb-1">
      @if(isOnlineNow()){
      <span class="is-online">
        <i class="fa fa-solid fa-circle"></i>
      </span>
      }
      {{ memberInfo().nickName }},
      <span class="lead">{{ memberInfo().age }}</span>

      @if(hasLiked()){
      <i class="fa fa-heart ms-3" style="color: red"></i>
      }
    </h4>
    <p class="card-text text-center text-muted text-wrap">
      <i class="fa-solid fa-location-dot" style="color: rgb(34, 105, 238)"></i>
      {{ memberInfo().city }}
    </p>

    @if(memberInfo().introduction){
    <p class="card-text text-center text-muted text-wrap">
      {{ isExpanded ? fullIntro : shortIntro }}
    </p>
    <div class="text-center">
      <button class="view-more-button" (click)="toggleIntro()">
        {{ isExpanded ? "View Less" : "View More"
        }}<i
          class="fa {{ isExpanded ? 'fa-chevron-up' : 'fa-chevron-down' }}"
        ></i>
      </button>
    </div>
    }
  </div>
</div>
